<h1> Search for a Movie </h1>
<style>
    h1 {
        color: red;
        font-family: 'Courier New', Courier, monospace;
        font-size: 60px;
        text-align: center;
    }
    
    form {
        margin: 0 auto;
        text-align: center;
    }
</style>

<form action="/results" method="GET">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>